/* ====================CLASS FLEX============ */
.flex{
  display: flex;
}

/* Flex Column */
.f_column{
  flex-direction: column;
}
.f_row{
  flex-direction: row;
}


/* Justify Content */
.j_center{
  justify-content: center;
}
.j_start{
  justify-content: flex-start;
}
.j_end{
  justify-content: flex-end;
}
.j_between{
  justify-content: space-between;
}
.j_around{
  justify-content: space-around;
}



/* Align Content */
.a_end{
  align-content: flex-end;
}
.a_start{
  align-content: flex-start;
}
.a_center{
  align-content: center;
}
.a_between{
  align-content: space-between;
}
.a_around{
  align-content: space-around;
}

/* ====================END FLEX=============== */
header{
  margin: 0;
  padding: 0;
  height: 5vh;
  width: 100%;
  background-color: rgb(16, 38, 61);
}
